* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

/* re-usable */

.btn {
  text-decoration: none;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  background-color: #4c6ef5;
  color: #eee;
  border-radius: 5px;
  padding: 10px 16px;

 
}


/* Header */
nav a {
  text-decoration: none;
  padding: 5px 10px;
  font-weight: 600;
  color: #eee;
}

nav div {
  display: flex;
}
nav {
  display: flex;
  gap: 10px;
  align-content: center;
  justify-content: space-between;
}
.emp-log {
  margin: 0;
}

.hero {
  width: 630px;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(6%, -50%);
}

.hero-title {
  color: #eee;
  font-size: 44px;
  letter-spacing: -2px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-sum {
  margin-bottom: 40px;
  line-height: 1.8;
  font-size: 16px;
  color: #dee2e6;
}

header {
  background-image: url(man-working-printing-house-with-paper-paints.jpg),linear-gradient(to right, #000000b9, #00000097);
  height: 100vh;
  background-size: cover;
  /* position: relative; */
  padding-top: 18px;
}
